
body {
  font-family: 'Inter', sans-serif;
  background-color: #f0f0f0; /* Cor de fundo geral */
  margin: 0;
  padding: 0;
}

header {
  background-color: #007acc; /* Cor do cabeçalho */
  color: white;
  text-align: center;
  padding: 10px 0;
}

.login-container {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 20px;
}

.login-container h2 {
  margin-bottom: 20px;
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  font-weight: bold;
}

.input-usuario {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  flex-grow: 1; 
}

.input-senha{
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  flex-grow: 1; 
}

.form-group button {
  background-color: #007acc; /* Cor do botão de login */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.form-group button:hover {
  background-color: #035b96;
}

.texto__conta {
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  color: #007acc;
}

.texto__conta:hover {
  text-decoration: underline;
}

footer {
  background-color: #007acc; /* Cor do rodapé */
  color: white;
  text-align: center;
  padding: 30px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}
